{% extends 'base.html' %}
{% block main_content %}
    <body>
    <div align="center">
    <a href="/login"><button>login</button></a><br>
    <a href="/register"><button>register</button></a><br>
    <a href="/walkins"><button>walkins</button></a><br>
    <a href="/counselling"><button>counselling</button></a><br>
    <a href="/callings"><button>callings</button></a><br>
    <a href="/Joinings"><button>Joinings</button></a><br>
    <a href="/students"><button>students</button></a><br>
        <a href="/status"><button>status</button></a>
    </div>
    </body>
{% endblock %}